*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aquí sólo la parte de Grid*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 90px auto 100px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}
.header{
    grid-area: header;
}
.navbar{
    grid-area: navbar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}



/*A partir de aquí, Flexbox y todo lo demás*/
.main h3{
color: white;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor{
    background-color: #D32F2F;
    background-image: url(../assets/img/fondoRojo.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    position: sticky;
    top: 0px;
    background-image: url(../assets/img/gray-concrete-wall.jpg);
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    padding-top: 10px;
}
.navbar{
    width: 100%;
    height: 50px;    
    top: 0;
    position: sticky;
}

.navbar ul{
    display: flex;
    /*flex-direction: row;*/
    list-style: none;
    background-color: white;
    
}
.navbar ul li {
    /*display: inline-block;*/
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

/*No lo uso de momento
nav ul li:hover{
    background-color: #E0DCDC;
    transition: 0.9s;
}*/

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.card{
    margin: 10px;
    width: 510%;
}
.card div{
    margin: 100px 100px;
}
.card img {
    width: 100%;
    object-fit: cover;
}

.cardHorario{
    margin: 10px;
    width: 510%;
}
.cardHorario div{
    margin: 100px 100px;
}
.cardHorario img {
    width: 70%;
    object-fit:cover;
    margin-left:13%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    background-color: #E0DCDC;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-align: center;
}
.card-containerForm {
    display: flex;
    flex-direction: column;
    padding-top: 10%
    /* justify-content: space-between
    align-items: center;
    padding-top: 70px; */
} 
.fondoFormulario{
    background-color: #E0DCDC;
    /* max-width: fit-content;     */
    width:50%;
    margin:auto;    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-block: 150px;
    border: 6px hidden;
    border-radius: 24px;
}

/* #nombre{
    margin: 6px;
}
#email{
    margin: 6px;
}
.comentario{
    margin: 6px;
} */



.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.formulario{
    display: flex;
    flex-direction: column;
}



/*Media Query - Responsive*/
@media screen and (max-width: 520px){
    .navbar ul{
        font-size: 20px;
        flex-direction: column;
        width: 100%;        
        text-align: center;        
    }
    .navbar ul li {
        /*display: inline-block;*/
        padding: 1px;
    }
    .navbar{
        margin-top: 10px;
    }
    /*Esto fue clave para el responsive de los div!*/
    .card-container {        
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 100px;
    }
    .card{
        width: 100%;
        flex-direction:column;
        top: 20px;        
    }

    .card img{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    .card iframe{
        width: 100%;
        margin: 20px auto;
        display: block;
    }


}


